<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/common :: head" />

<body>
    <div th:include="fragments/common :: navbar"></div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p th:text="#{coworkers.total(${contacts.size()})}"></p>
            </div>
        </div>

        <div class="row row-contact" th:each="contact : ${contacts}"
            th:include="fragments/contacts :: contact"></div>
    </div>

    <div th:include="fragments/common :: scripts"></div>
</body>

</html>
